@using PromoStudio.Web
@{
    string copyrightDate = DateTime.Today.Year.ToString();
    if (DateTime.Today.Year > 2013) {
        copyrightDate = "2013-" + copyrightDate;
    }
    bool isHomeController = string.Compare((string)ViewContext.RouteData.Values["controller"], "Home", StringComparison.OrdinalIgnoreCase) == 0;
    bool isVideosController = string.Compare((string)ViewContext.RouteData.Values["controller"], "Videos", StringComparison.OrdinalIgnoreCase) == 0;
    bool isResourcesController = string.Compare((string)ViewContext.RouteData.Values["controller"], "Resources", StringComparison.OrdinalIgnoreCase) == 0;
    bool isBuildController = string.Compare((string)ViewContext.RouteData.Values["controller"], "Build", StringComparison.OrdinalIgnoreCase) == 0;

    var user = Context.User != null
        && Context.User.Identity != null
        && Context.User.Identity.IsAuthenticated
            ? (PromoStudio.Web.PromoStudioIdentity)Context.User.Identity
            : null;
}
<!DOCTYPE html>
<html>
<head>
    <title>PromoStudio - @ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/lib/modernizr.js")"></script>
</head>
<body>
    <div class="color-band"></div>
    <div class="navbar" @Html.Raw(Context.User.Identity.IsAuthenticated ? "" : "style='display:none'")>
        <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                @* Add detection to _NavChangeScript *@
                <li id="navHome" @Html.Raw(isHomeController ? "class=\"active\"" : "")><a data-pjax href="@Url.Action("Index", "Home")">Home</a></li>
                <li id="navVideos" @Html.Raw(isVideosController ? "class=\"active\"" : "")><a data-pjax href="@Url.Action("Index", "Videos")">My Videos</a></li>
                <li id="navResources" @Html.Raw(isResourcesController ? "class=\"active\"" : "")><a data-pjax href="@Url.Action("Index", "Resources")">My Resources</a></li>
                <li id="navBuild" @Html.Raw(isBuildController ? "class=\"active\"" : "")><a data-pjax href="@Url.Action("Index", "Build")">Build</a></li>
                <li><a id="logout" href="javascript:void(0)">Log Out</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="container header-container clearfix">
        <div class="logo">
            <a data-pjax href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Content/img/ps_logo.png")" alt="PromoStudio" /></a>
        </div>
        <div class="header-nav">
            @RenderSection("headerNav", false)
        </div>
    </div>
    <div class="container main-container">
        <div data-pjax-container>
            @RenderBody()
        </div>
        <hr />
        <div class="footer">
            <p>&copy; PromoStudio @copyrightDate</p>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/require.min.js")"></script>
    <script src="@Url.Content("~/Scripts/requireConfig.js")"></script>
    <script type="text/javascript">
        require(["viewModels/scaffold"], function (scaffold) {
            scaffold();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
