@model PromoStudio.Web.ViewModels.ViewModelBase
@using PromoStudio.Rendering.Properties
@using PromoStudio.Resources
@using PromoStudio.Web
@{
    var user = Model.User;

    var useOptimizedScripts = PromoStudio.Web.Properties.Settings.Default.UseOptimizedScripts;

    var title = Strings.PromoStudio;
    // TODO: Any additional title stuff here
}
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow">
    <link href="~/Content/css/fancybox.min.css" rel="stylesheet" />
    <link href="~/Content/css/site.min.css" rel="stylesheet" />
    <script type="text/javascript">if(navigator.userAgent.match(/IEMobile\/10\.0/)){var msViewportStyle=document.createElement("style");msViewportStyle.appendChild(document.createTextNode("@@-ms-viewport{width:auto!important}"));document.getElementsByTagName("head")[0].appendChild(msViewportStyle)};</script>
	<!--[if lt IE 9]><link media="all" rel="stylesheet" href="/Content/css/ie.css"><script type="text/javascript" src="/Scripts/lib/ie.js"></script><![endif]-->
</head>
<body>
    
	<div id="wrapper" class="account">
		<div class="w1">
			<!-- header -->
			<header id="header">
				<div class="header-holder">
					<!-- logo -->
					@Html.Partial("_Header")
					<!-- menu -->
					<nav class="menu">
						<ul>
							<li><a href="@Url.Action("Index", "Build")">@Strings.Navigation__Video_Builder</a></li>
							<li><a href="#">@Strings.Sign_Out</a></li>
						</ul>
					</nav>
				</div>
				<div class="panel">
                    @RenderSection("Navigation")
				</div>
			</header>
			<div id="main" data-pjax-container>
                @RenderBody()
            </div>
        </div>
    </div>

    @RenderSection("modals", required: false)
    <script src="@Url.Content("~/Scripts/require.min.js")"></script>
    @if (useOptimizedScripts)
    {
    <script src="@Url.Content("~/Scripts/optimizedrequireConfig.js")"></script>
    }
    else
    {
    <script src="@Url.Content("~/Scripts/requireConfig.js")"></script>
    }
    <script type="text/javascript">
        require(["viewModels/scaffold"], function (scaffold) {
            scaffold();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
