@using PromoStudio.Rendering.Properties
@using PromoStudio.Resources
@using PromoStudio.Web
@{
    string copyrightDate = DateTime.Today.Year.ToString();
    if (DateTime.Today.Year > 2013)
    {
        copyrightDate = "2013-" + copyrightDate;
    }
    bool isVideosController = string.Compare((string)ViewContext.RouteData.Values["controller"], "Videos", StringComparison.OrdinalIgnoreCase) == 0;
    bool isResourcesController = string.Compare((string)ViewContext.RouteData.Values["controller"], "Resources", StringComparison.OrdinalIgnoreCase) == 0;
    bool isBuildController = string.Compare((string)ViewContext.RouteData.Values["controller"], "Build", StringComparison.OrdinalIgnoreCase) == 0;

    var user = Context.User != null
        && Context.User.Identity != null
        && Context.User.Identity.IsAuthenticated
            ? (PromoStudio.Web.PromoStudioIdentity)Context.User.Identity
            : null;

    var useOptimizedScripts = PromoStudio.Web.Properties.Settings.Default.UseOptimizedScripts;




    bool useAlternateHeader = false;
    if (user != null && user.OrganizationId == 2)
    {
        useAlternateHeader = true;
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>@Strings.PromoStudio - @ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    @if (useAlternateHeader)
    {
    <link href="~/Content/css/qsciences.min.css" rel="stylesheet" />
    }
    else
    {
    <link href="~/Content/css/site.min.css" rel="stylesheet" />
    }
    <script type="text/javascript">if(navigator.userAgent.match(/IEMobile\/10\.0/)){var msViewportStyle=document.createElement("style");msViewportStyle.appendChild(document.createTextNode("@@-ms-viewport{width:auto!important}"));document.getElementsByTagName("head")[0].appendChild(msViewportStyle)};</script>
    <script src="@Url.Content("~/Scripts/lib/modernizr.js")"></script>
</head>
<body>
    <div class="color-band clearfix">
        <a data-pjax href="@Url.Action("Index", "Home")">@Html.Partial("_Header")</a>
        @if (user != null)
        {
        <a id="logout" href="javascript:void(0)">@Strings.Log_out</a>
        }
    </div>
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-inner">

        </div>
        <ul class="nav navbar-nav">
            @RenderSection("Navigation", false)
            @if (!IsSectionDefined("Navigation"))
            {
                <li id="navVideos"@Html.Raw(isVideosController ? " class=\"active\"" : "")>
                    <a data-pjax href="@Url.Action("Index", "Videos")">
                        <div class="clearfix">
                            <span class="glyphicons display"></span>
                            <label>
                                @Strings.Navigation__Videos
                                <span class="muted">@Strings.Navigation__View_your_video_library</span>
                            </label>
                        </div>
                    </a>
                    <div class="arrow"></div>
                </li>
                <li id="navBuild">
                    <a data-pjax href="@Url.Action("Index", "Build")">
                        <div class="clearfix">
                            <span class="glyphicons film"></span>
                            <label>
                                @Strings.Navigation__Build
                                <span class="muted">@Strings.Navigation__Create_a_new_video</span>
                            </label>
                        </div>
                    </a>
                    <div class="arrow"></div>
                </li>
            }
        </ul>
    </div>

    <section class="content">
        
        <div data-pjax-container>
            @RenderBody()
        </div>
        <hr />
        <div class="footer">
            <p>&copy; @Strings.PromoStudio @copyrightDate</p>
        </div>

    </section>

    @RenderSection("modals", required: false)
    <script src="@Url.Content("~/Scripts/require.min.js")"></script>
    <script src="@Url.Content("~/Scripts/requireConfig.js")"></script>
    @if (useOptimizedScripts)
    {
    <script src="@Url.Content("~/optimizedScripts/viewModels/scaffold.js")"></script>
    }
    <script type="text/javascript">
        require(["viewModels/scaffold"], function (scaffold) {
            scaffold();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
