@using PromoStudio.Resources
@{
    ViewBag.Title = @Strings.Videos__Your_Videos;
}

@section scripts
{
    <script type="text/javascript">
        require(["viewModels/videosViewModel", "jquery", "knockout"],
            function (videosVm, $, ko) {
                $(function() {
                    var container = $("div.main-container div[data-pjax-container]")[0],
                        vm = new videosVm();
                    vm.pageLoaded();
                    ko.applyBindings(vm, container);
                });
            });
    </script>
}
<h1>@ViewBag.Title</h1>
<hr />

<div style="display: none" data-bind="visible: LoadingData">
    <h3>@Strings.Videos__Loading_your_videos_ellipsis</h3>
    <div class="loader-large"></div>
</div>

<!-- ko if: CustomerVideos().length > 0 -->
<div data-bind="foreach: CustomerVideos()">
    <div class="row-fluid">
        <div class="span6">
            <h3 data-bind="text: Name"></h3>
            <p data-bind="text: Description"></p>
        </div>
        <div class="span3">
            <h5 data-bind="text: CustomerVideoRenderStatus"></h5>
        </div>
        <div class="span3">
            <a href="javascript:void(0);" target="_blank" data-bind="attr: { href: LinkUrl  }, text: LinkFileName"></a>
        </div>
    </div>
</div>
<!-- /ko -->
<!-- ko if: CustomerVideos().length === 0 -->
<h2>@Strings.Videos__You_have_no_videos</h2>
<h3><a href="@Url.Action("Index", "Build")">@Strings.Videos__Build_a_new_video</a></h3>
<!-- /ko -->