@using PromoStudio.Resources
@{
    ViewBag.Title = Strings.Videos__Your_Videos;
}

@section scripts
{
    <script type="text/javascript">
        require(["viewModels/scaffold"], function () {
            require(["viewModels/videosViewModel", "jquery", "knockout"],
                function(videosVm, $, ko) {
                    $(function() {
                        var container = $("div.main-container div[data-pjax-container]")[0],
                            vm = new videosVm();
                        vm.pageLoaded();
                        ko.applyBindings(vm, container);
                    });
                });
        });
    </script>
}
<h1>@ViewBag.Title</h1>
<hr />

<div style="display: none" data-bind="visible: LoadingData">
    <h3>@Strings.Videos__Loading_your_videos_ellipsis</h3>
    <div class="loader-large"></div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">PromoStudio Demo Notice</h3>
    </div>
    <div class="panel-body">
        This page is currently unstyled.
    </div>
</div>

<div style="display: none" data-bind="visible: !LoadingData()">
    <!-- ko if: CustomerVideos().length > 0 -->
    <div class="thumbcontainer clearfix" data-bind="foreach: CustomerVideos">
        <a href="#" class="footage-thumbnail"
           data-bind="visible: true, css: { selected: $parent.IsSelected($data), incomplete: !$data.IsHosted() }, click: function () { $parent.SelectVideo($data); }">
            <div class="footage-preview" data-bind="style: { backgroundImage: ThumbnailBackground }">
                <div class="footage-play" data-bind="click: PlayLightbox">
                    <span class="glyphicons play"></span>
                </div>
                <div class="footage-loading">
                    <span class="glyphicons roundabout"></span>
                    <div class="footage-loading-msg">Processing...</div>
                </div>
            </div>
            <div class="footage-description">
                <span class="footage-title" data-bind="text: Name"></span>
                <span class="footage-status" data-bind="text: CustomerVideoRenderStatus"></span>
            </div>
        </a>
    </div>
    <div class="video-preview" data-bind="with: SelectedVideo">
        <div data-bind="ifnot: IsIncomplete">
            <div>Name: <span data-bind="text: Name"></span></div>
            <div>Description: <span data-bind="text: Description"></span></div>
            <div>Direct Link: <a href="#" target="_blank" data-bind="text: PlayerUrl, attr: { href: PlayerUrl }"></a></div>
            <div>Inline Embed: <pre data-bind="text: InlineEmbedCode"></pre></div>
            <div>Lightbox Embed: <pre data-bind="text: LightboxEmbedCode"></pre></div>
        </div>
    </div>
    <!-- /ko -->
    
    

    <!-- ko if: CustomerVideos().length === 0 -->
    <h2>@Strings.Videos__You_have_no_videos</h2>
    <h3><a href="@Url.Action("Index", "Build")">@Strings.Videos__Build_a_new_video</a></h3>
    <!-- /ko -->
</div>
