@using PromoStudio.Resources
@{
    ViewBag.Title = @Strings.Videos__Your_Videos;
}

@section scripts
{
    <script type="text/javascript">
        require(["viewModels/videosViewModel", "jquery", "knockout"],
            function (videosVm, $, ko) {
                $(function () {
                    var container = $("div.main-container div[data-pjax-container]")[0],
                        vm = new videosVm();
                    vm.pageLoaded();
                    ko.applyBindings(vm, container);
                });
            });
    </script>
}
<h1>@ViewBag.Title</h1>
<hr />

<div style="display: none" data-bind="visible: LoadingData">
    <h3>@Strings.Videos__Loading_your_videos_ellipsis</h3>
    <div class="loader-large"></div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">PromoStudio Demo Notice</h3>
    </div>
    <div class="panel-body">
        This page is currently unstyled. It will be a grid of video thumbnails and will launch the Vidyard lightbox.
    </div>
</div>

<div style="display: none" data-bind="visible: !LoadingData()">
    <!-- ko if: CustomerVideos().length > 0 -->
    <div data-bind="foreach: CustomerVideos">
        <div class="row-fluid">
            <div class="span6">
                <h3 data-bind="text: Name"></h3>
                <p data-bind="text: Description"></p>
            </div>
            <div class="span3">
                <h5 data-bind="text: CustomerVideoRenderStatus"></h5>
            </div>
            <div class="span3">
                <a href="javascript:void(0);" target="_blank" data-bind="attr: { href: LinkUrl  }, text: LinkFileName"></a>
            </div>
        </div>
    </div>
    
    <div class="thumbcontainer clearfix" data-bind="foreach: CustomerVideos">
        <a href="#" class="footage-thumbnail"
            data-bind="visible: true, css: { selected: $parent.IsSelected($data), incomplete: IsIncomplete }, click: function () { $parent.SelectVideo($data); }">
            <div class="footage-preview" data-bind="style: { backgroundImage: ThumbnailBackground }">
                <div class="footage-play" data-bind="click: PlayLightbox">
                    <span class="glyphicons play"></span>
                </div>
                <div class="footage-loading">
                    <span class="glyphicons roundabout"></span>
                    <div class="footage-loading-msg">Processing...</div>
                </div>
            </div>
            <div class="footage-description">
                <span class="footage-title" data-bind="text: Name"></span>
                <span class="footage-status" data-bind="text: CustomerVideoRenderStatus"></span>
            </div>
        </a>
    </div>
    <!-- /ko -->
    
    

    <!-- ko if: CustomerVideos().length === 0 -->
    <h2>@Strings.Videos__You_have_no_videos</h2>
    <h3><a href="@Url.Action("Index", "Build")">@Strings.Videos__Build_a_new_video</a></h3>
    <!-- /ko -->
</div>
